* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
}

header {
    padding: 30px 60px;
    width: 92%;
    z-index: 100000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    transition: 0.3s;
}

/* default header */
header ul {
    display: flex;
    gap: 46px;
    list-style: none;
}

header a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color:rgb(255, 232, 115);

    transition: 0.3s
}

header a:hover,
header.sticky a:hover,
header a.active {
    color:rgb(199, 180, 86);
}

.logo {
    font-weight: 700;
    font-size: 42px;

    transition: 0.3s
}

.logo .py {
    color:rgb(48, 105, 152);
}

.logo .prep {
    color: rgb(255, 232, 115);
}

/* header when scrolling */

header.sticky {
    width: 96%;
    background-color: rgb(47, 47, 47);
    padding: 5px 30px;
    /*box-shadow: 0px 0px 25px -5px black;*/
}

header.sticky .logo {
    font-size:32px;
}

.main {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

/* for index main content */
.main#index .one {
    display: flex;
    flex-direction: column;
    
    padding: 168px 325px;
    background-color: rgb(72, 79, 102);
}

.main#index .one .title {
    color: rgb(255, 232, 115);
    font-size: 48px;
    font-weight: 500;
}

.main#index .one .description {
    width: 650px;
    margin-top: 12px;
    color: rgb(255, 232, 115);
    line-height: 1.7;
}

.main#index .two {
    height: 200px;
    background-color: rgb(66, 71, 88);
}

.info {
    font-size: 18px;
    font-weight: 500;

    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 25px;

    background-color: rgb(115, 122, 152);
    color: rgb(255, 232, 115);
    border:none;

    transition: 0.15s;
}

.info:hover {
    background-color: rgb(89, 96, 128);
    color: rgb(199, 180, 86);
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 230px;
    padding: 60px 0px;
}

.two-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 15px;
}

.two-icon img {
    width: 70%;
    height: auto;
}

.two-icon .blurb {
    color: rgb(255, 232, 115);
    font-weight: 400;
    text-align: center;
}

/* for about-us main content */

.main#about-us .one {
    display: flex;
    flex-direction: column;
    
    padding: 168px 325px;
    background-color: rgb(72, 79, 102);
}

.main#about-us .one .title {
    color: rgb(255, 232, 115);
    font-size: 48px;
    font-weight: 500;
}

.main#about-us .one .description {
    width: 850px;
    margin-top: 12px;
    color: rgb(255, 232, 115);
    font-size: 18px;
    font-weight: 370;
    line-height: 2.3;
}

.main#about-us .one .signature {
    width: 850px;
    color: rgb(255, 232, 115);
    font-size: 36px;
    line-height: 2.3;
    text-align: right;
    margin-bottom: 80px;
}

.main#join-us .one {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 168px 325px;
    background-color: rgb(72, 79, 102);
}

iframe {
    background-color: rgb(63, 73, 99);
    border-radius: 25px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 63, 83);
    padding: 10px 0px;
}

footer a {
    text-decoration: none;
    color: rgb(255, 232, 115);
    transition: 0.2s;
}

footer a:hover {
    color:rgb(199, 180, 86);
}

